button {
  border-radius: 0rem;
  cursor: pointer;
  transition: background-color 0.3s;
  display: inline-flex;
  align-items: center;

  &.color-primary {
    background-color: var(--primary);
    color: var(--white);
    border: 0.0625rem solid var(--primary);
    &:disabled {
      background-color: var(--primary-inactive);
      color: var(--white);
      border: 0.0625rem solid var(--primary-inactive);
      cursor: not-allowed;
    }
  }

  &.color-link {
    background-color: var(--white);
    color: var(--primary);
    border: 0.0625rem solid var(--primary);
  }

  &.size-md {
    height: 2.125rem;
    padding: 0.3125rem 0.5rem;
  }

  &.size-lg {
    height: 3rem;
    padding: 0 1.25rem;
    font-size: var(--size-3);
  }
}
