// Doc Ref: https://zeroheight.com/208c7c4a6/p/283d32-cores

$light-value-map: (
    white: #FFFFFF,
    red: #FF0000,
    primary: #165C7D,
    orimary-hover: rgba(#165C7D, 0.6),
    primary-inactive: #A2BECB,
    secondary: #FFA300,
    error: #C13018,
    succes: #00C246,
    warning: #FCD610,
    text-1: #101213,
    text-2: #787878,
    text-3: #4F575E,
    text-4: #889499,
    bg-1: #E7EEF1,
    line-1: #C6CED1
);
