.title {
  font-size: 1.375rem;
  color: var(--text-1);
}
.description {
  font-size: 1rem;
  color: var(--text-3);
  padding-bottom: 1.25rem;
}

form {
  display: flex;
  flex-direction: row;
  align-items: anchor-center;
  justify-content: start;
  width: 100%;
  gap: 1.25rem;
}

.input-form {
  width: 270px;
}
.card {
  display: flex;
  flex-direction: column;
  padding-top: 0.625rem;
  width: 230px;
  &-line {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.25rem;
    &:first-child {
      padding-bottom: 0.625rem;
    }

    span {
      font-size: var(--size-4);
      color: var(--text-2);
    }
    div {
      font-size: var(--size-1);
    }
  }
}
