<div class="main">
    <div class="main-menu">
        <div class="main-menu_logo">
            <img src="/assets/logo.png" alt="Cooperativa">
        </div>
        <div class="main-menu_items">
            <div class="main-menu_items__item">

            </div>
            <div class="main-menu_items__item">

            </div>
            <div class="main-menu_items__item">

            </div>
            <div class="main-menu_items__item">

            </div>
            <div class="main-menu_items__item">

            </div>

        </div>
    </div>
    <div class="main-content">
        <div class="main-content_header">
            <div class="main-content_header__info">
                <h1>NOVA ADMISSÃO COOPERADO</h1>
                <div class="subtitle">Cadastro / Admissão do Cooperado / Nova Admissão de Cooperado </div>
            </div>
            <div class="main-content_header__actions">

            </div>

        </div>
        <div class="main-content_body">
            <router-outlet />
        </div>

    </div>
</div>