@use "styles/theme/main.theme" as mainTheme;
@use "styles/theme/default.theme" as defaultTheme;
@use "styles/guide/spaces.guide";

@include mainTheme.set-theme(defaultTheme.$light-value-map);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: transparent;
    border: 0;
    font-size: 0.875rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-optical-sizing: auto;
    font-style: normal;
    color: var(--text-1);
}

.page {
    padding: 0 1.875rem;
}
.wrapper {
    height: 100vh;
}
.page-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}