$colors: (
    color-1: #FFFFFF,
    color-2: #FF0000,
    color-3: #165C7D,
    color-4: rgba(#165C7D, 0.6),
    color-5: #A2BECB,
    color-6: #FFA300,
    color-7: #C13018,
    color-8: #00C246,
    color-9: #FCD610,
    color-10: #101213,
    color-11: #787878,
    color-12: #4F575E,
    color-13: #889499,
    color-14: #E7EEF1,
    color-15: #C6CED1,
);
